.btn{
     padding:1rem 2rem;
     font-style:italic;
     text-transform: uppercase;
     display: inline-block;
     border-radius:1rem;
     padding:1rem 2rem;
     background: white;
     color:black;
     cursor:pointer;
    letter-spacing:5px;
     box-shadow: 2px 1px 2px;
   }
   .btn:hover {
      color: white;
     background: black;
     transition: 0.7s;
   }
 .headline {
     text-align: center;
     align-items: center;
     line-height:1;
   font-size:50px;
   }
 main{
     min-height:100vh;
     display:grid;
     place-items:center;
   }
span{
  font-size:100px;
  display:grid;
  padding:20px 0px 40px;
}
